<div class="row">
    <div class="col-lg-6 center">
        <h1>Nova Empresa</h1>
        <div class="main-box">
            <div class="main-box-header"></div>
            <div class="main-box-body clearfix">

                <%= render 'form' %>

                <%= link_to 'Ver empresa', @company %> |
                <%= link_to 'Voltar', companies_path %>
            </div>
        </div>
    </div>
</div>