<div class="row">
    <div class="col-lg-6 center">
        <h1>Editar Assembléia</h1>
        <div class="main-box">
            <div class="main-box-header"></div>
            <div class="main-box-body clearfix">
                <%= render 'form' %>

                <%= link_to 'Ver Assembléia', [@moot.company, @moot] %> |
                <%= link_to 'Voltar', @moot.company %>
            </div>
        </div>
    </div>
</div>