<div class="row">

  <a href="<%= company_moot_path(@rulling.moot.company, @rulling.moot) %>">
    <button type="button" class="btn btn-default">
      <span class="fa fa-arrow-left">&nbsp;</span>
      Voltar
    </button>
  </a>
  <br/><br/><br/>

  <%= render 'show' %>
</div>